.button {
    background: $brandColor;
    border-radius: $radius;
    white-space: nowrap;
    padding: 15px 35px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: $trans;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: center;

    @include down-1200 {
        padding: 15px 22px;
    }


    &:hover {
        text-decoration: none;
        transform: translateY(-3px);
        color: #fff;
    }

    &.outline {
        background: transparent;
        color: #fff;
        border: 1px solid;

        &:hover {
            background: #fff;
            color: $brandColor;
        }
    }

    &.green {
        background-color: #08ea35;
        background-image: linear-gradient(128deg, #08ea35 0%, #3ac400 100%);
        color: #fff;

        &.outline {
            background: transparent;
            color: #08ea35;
            border: 1px solid #08ea35;

            &:hover {
                background-color: #08ea35;
                background-image: linear-gradient(128deg, #08ea35 0%, #3ac400 100%);
                color: #fff;
            }
        }
    }

    &.white {
        background: #fff;
        color: $brandColor;

        &.outline {
            background: transparent;
            color: #fff;
            border: 1px solid #fff;

            &:hover {
                background: #fff;
                color: $brandColor;
            }
        }
    }

  

}

.textH {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 55px;
}