.button {
    background: #fff;
    border-radius: $radius;
    padding: 15px 35px;
    display: flex;
    justify-content: center;
    color: $brandColor;
    font-weight: bold;
    font-size: 18px;
    transition: $trans;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: center;

    @include down-1200 {
        padding: 15px 22px;
    }


    &:hover {
        text-decoration: none;
        transform: translateY(-3px);
        color: $brandColor;
    }

    &.outline {
        background: transparent;
        color: #fff;
        border: 1px solid;

        &:hover {
            background: #fff;
            color: $brandColor;
        }
    }

    &.green {
        background: rgb(9, 2, 75);
        color: #fff;

        &.outline {
            background: transparent;
            color: rgb(9, 2, 75);
            border: 1px solid rgb(9, 2, 75);

            &:hover {
                background: rgb(9, 2, 75);
                color: #fff;
            }
        }
    }

  

}

.textH {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 55px;
}