@import 'mixins';

$brand: #ff3364;
$radius: 5px;
$trans: all 350ms;

body {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(219, 219, 219);
}

nav {
    height: 70px;
    background: gray;
}

header {
    width: 100%;
    min-height: 80vh;
    padding: 150px;
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: right;
        width: 400px;

        h1 {
            padding-bottom: 10px;
        }
    }
}


.poster {
    height: 500px;
    margin-top: -100px;
}

.date {
    width: 100%;
    height: 100px;
    background: red;
    margin-top: -100px;

}

.speker {

    h1 {
        text-align: center;
        padding-top: 50px;
    }

    .cards {
        padding: 100px;
        display: flex;
        flex-wrap: wrap;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 200px;
            height: 200px;
            background: gray;
            margin: 10px;

            img {
                width: 120px;
                height: 120px;
                background: #fff;
                border-radius: 50%
            }

            h3 {
                padding-top: 10px;
                font-size: 12px;
            }
        }
    }
}

.gallery {
    width: 100%;
    background: #fff;
}

