@import 'mixins';

$radius: 5px;
$trans: all 350ms;

body {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(219, 219, 219);
}

nav {
    height: 70px;
    background: gray;
}

header {
    width: 100%;
    min-height: 80vh;
    padding: 150px;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: right;
        width: 400px;

        h1 {
            padding-bottom: 10px;
        }

    }
}


.about {
    .poster {
        height: 500px;
        margin-top: -100px;
    }

    .date {
        width: 100%;
        height: 100px;
        background: gray;
        margin-top: -100px;

    }

    .content {
        text-align: right;

        p {
            width: 300px;
            padding-top: 20px;
        }
    }
}

.speaker {
    @include sectionPadding;

    h1 {
        text-align: center;
        padding-bottom: 50px;
    }



    .card {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        background: gray;

    }

}

.gallery {
    @include sectionPadding;
    width: 100%;
    background: #fff;
}

.sponsors {
    @include sectionPadding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profils {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .profil {

            width: 100px;
            height: 100px;
            background: #fff;
            border-radius: 50%;
        }
    }
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;

    h1 {
        padding: 0 20px;
    }
}

.timingTable {
    @include sectionPadding;
    width: 100%;
    height: 500px;
    background: #fff;
}

footer {
    height: 100px;
    background: gray;
}