@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lalezar");
.button {
  background: #fff;
  border-radius: 5px;
  padding: 15px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #010024;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: all 350ms;
  transition: all 350ms;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
}

.button:hover {
  text-decoration: none;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #010024;
}

.button.outline {
  background: transparent;
  color: #fff;
  border: 1px solid;
}

.button.outline:hover {
  background: #fff;
  color: #010024;
}

.button.green {
  background: #00C853;
  color: #fff;
}

.button.green.outline {
  background: transparent;
  color: #00C853;
  border: 1px solid #00C853;
}

.button.green.outline:hover {
  background: #00C853;
  color: #fff;
}

@font-face {
  font-family: Shabnam;
  src: url("../font/Shabnam-FD.eot");
  src: url("../font/Shabnam-FD.eot?#iefix") format("embedded-opentype"), url("../font/Shabnam-FD.woff") format("woff"), url("../font/Shabnam-FD.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url("../font/Shabnam-Bold-FD.eot");
  src: url("../font/Shabnam-Bold-FD.eot?#iefix") format("embedded-opentype"), url("../font/Shabnam-Bold-FD.woff") format("woff"), url("../font/Shabnam-Bold-FD.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url("../font/Shabnam-Light-FD.eot");
  src: url("../font/Shabnam-Light-FD.eot?#iefix") format("embedded-opentype"), url("../font/Shabnam-Light-FD.woff") format("woff"), url("../font/Shabnam-Light-FD.ttf") format("truetype");
  font-weight: 300;
}

body {
  font-family: 'Shabnam', tahoma;
}

nav {
  width: 100%;
  position: absolute !important;
  z-index: 999;
  background: #fff;
}

nav a {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  header {
    height: 120vh;
  }
}

header:before {
  content: '';
  position: absolute;
  background: rgba(1, 0, 36, 0.3);
  width: 100%;
  height: 100%;
}

header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

header .onCover {
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  z-index: 2;
}

header .onCover .eventIntroduction {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .onCover .eventIntroduction .title {
  text-align: right;
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 10px;
}

@media screen and (max-width: 568px) {
  header .onCover .eventIntroduction .title {
    font-size: 37px;
  }
}

header .onCover .eventIntroduction .dateLocation {
  padding-bottom: 20px;
}

header .onCover .eventIntroduction .dateLocation span {
  margin: 10px 0;
  color: #fff;
}

header .onCover .eventIntroduction .dateLocation span i {
  padding-left: 10px;
}

header .onCover .eventIntroduction .dateLocation a:hover {
  text-decoration: none;
}

header .onCover .eventIntroduction .buyTicketInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

header .onCover .eventIntroduction .buyTicketInfo .countdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: 150px;
}

header .onCover .eventIntroduction .buyTicketInfo .countdown:before {
  content: "زمان باقی مانده";
  position: absolute;
  right: 0;
  top: -25px;
  font-size: 14px;
}

header .onCover .eventIntroduction .buyTicketInfo .countdown > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

header .onCover .eventIntroduction .buyTicketInfo .countdown > div span {
  font-size: 25px;
  font-weight: bold;
}

header .onCover .eventIntroduction .buyTicketInfo .countdown > div small {
  opacity: .7;
}

@media screen and (max-width: 992px) {
  header .onCover .eventIntroduction .buyTicketInfo .countdown {
    margin-left: 0;
  }
  header .onCover .eventIntroduction .buyTicketInfo .countdown:before {
    left: 0;
    margin: auto;
    text-align: center;
  }
  header .onCover .eventIntroduction .buyTicketInfo .countdown > div {
    margin: 0 10px;
  }
}

@media screen and (max-width: 992px) {
  header .onCover .eventIntroduction .buyTicketInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .onCover .eventIntroduction .buyTicketInfo .buyTicketBtn {
    margin-top: 35px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  header .onCover .eventIntroduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about {
  width: 100%;
}

.about .Text {
  padding-top: 40px;
  text-align: right;
}

.about .Text h2 {
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .about .Text h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  .about .Text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .about .Text {
    width: 100%;
  }
}

.about .poster {
  height: 550px;
  margin-top: -400px;
  border-radius: 7px;
  overflow: hidden;
}

.about .poster img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 992px) {
  .about .poster {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
}

.cards {
  padding: 130px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .card {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  border-radius: 10px;
}

.cards .card .imag {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.cards .card .imag img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */